<div
  class="container d-flex sign-container justify-content-center align-items-center w-100"
>
  <% if(error) { %>
  <div
    class="alert position-absolute mt-4 top-0 alert-danger alert-dismissible fade show z-2"
    role="alert"
  >
    <% error.forEach((error) => { %>
    <li><%= error.msg %></li>
    <%}) %>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  <% } %>
  <!--  -->
  <% if(successMessage) { %>
  <div
    class="alert position-absolute mt-4 top-0 alert-success alert-dismissible fade show"
    role="alert"
  >
    <li><%= successMessage %></li>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  <% } %>

  <div class="card pt-2 px-3 shadow shadow-lg" style="width: 23rem">
    <div class="card-body">
      <h2 class="card-title mb-4">Forgot password</h2>

      <form action="/user/forgotPassword" method="post">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            value="<%= userData.email %>"
            name="email"
            required
          />
        </div>

        <div
          class="mb-3 d-flex justify-content-between align-items-baseline mt-4"
        >
          <button type="submit" class="btn w-100 btn-dark">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
