<div
  class="container d-flex flex-column sign-container justify-content-center align-items-center w-100"
>
  <% if(error) { %>
  <div
    class="alert position-absolute mt-4 top-0 alert-danger alert-dismissible fade show z-2"
    role="alert"
  >
    <% error.forEach((error) => { %>
    <li><%= error.msg %></li>
    <%}) %>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  <% } %>
  <div class="card pt-2 pb-2 px-3 shadow shadow-lg" style="width: 23rem">
    <div class="card-body">
      <h2 class="card-title mb-4">Reset password</h2>

      <form action="/user/resetPassword" method="post">
        <div class="mb-3">
          <label for="oldPassword" class="form-label">Old password</label>
          <input
            type="password"
            class="form-control"
            name="oldPassword"
            id="oldPassword"
          />
        </div>
        <div class="mb-3">
          <label for="newPassword" class="form-label">New password</label>
          <input
            type="password"
            class="form-control"
            name="newPassword"
            id="newPassword"
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Confirm new Password</label>
          <input
            type="password"
            class="form-control"
            id="confirmNewPassword"
            name="confirmNewPassword"
          />
        </div>

        <!-- <input type="hidden" name="g-recaptcha-response" /> -->

        <!-- <div
        class="g-recaptcha"
        data-sitekey="6LeQtZwpAAAAALq0QRSDTDDb9DXn38-1Cr0WCZhh"
      ></div> -->
        <div class="d-flex justify-content-between align-items-baseline mt-4">
          <button type="submit" class="btn btn-dark w-100">
            Reset password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
